<div class="row g-3 needs-validation" [formGroup]="formUser" novalidate>
  <div class="col-md-12">
    <form class="row g-3 needs-validation" [formGroup]="formUser" novalidate (ngSubmit)="crearUsuario()">
      <h1> Create User</h1>

      <fieldset>
        <legend style="font-size: 15px;"><span class="number">!</span>Please fill out all the information.</legend>

        <label for="validationDefault01" class="form-label">ID:</label>
        <input type="text" class="form-control" id="validationDefault01"
               placeholder="Enter the User ID" formControlName="id" required pattern="[0-9]+"
               [ngClass]="{ 'is-invalid': formUser.get('id')?.invalid && (formUser.get('id')?.touched || formUser.get('id')?.dirty) }">
        <div class="invalid-feedback">
          Please enter a valid ID.
        </div>

        <label for="validationDefault02" class="form-label">Name:</label>
        <input type="text" class="form-control" id="validationDefault02"
               placeholder="Enter the name of the User" formControlName="nombre" required
               [ngClass]="{ 'is-invalid': formUser.get('nombre')?.invalid && (formUser.get('nombre')?.touched || formUser.get('nombre')?.dirty) }">
        <div class="invalid-feedback">
          Please enter a valid First Name.
        </div>

        <label for="validationDefault03" class="form-label">Height:</label>
        <input type="text" class="form-control" id="validationDefault03"
               placeholder="Enter the height of the User" formControlName="estatura" required pattern="[0-9]+(\.[0-9]+)?"
               [ngClass]="{ 'is-invalid': formUser.get('estatura')?.invalid && (formUser.get('heig')?.touched || formUser.get('estatura')?.dirty) }">
        <div class="invalid-feedback">
          Please enter a valid height.
        </div>

        <label for="validationDefault04" class="form-label">Birthdate:</label>
        <input type="datetime-local" class="form-control" id="validationDefault04"
               formControlName="fechaNacimiento" required
               [ngClass]="{ 'is-invalid': formUser.get('fechaNacimiento')?.invalid && (formUser.get('fechaNacimiento')?.touched || formUser.get('fechaNacimiento')?.dirty) }">
        <div class="invalid-feedback">
          Please enter a valid birthdate.
        </div>


        <label class="form-label">¿Premium?:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="esPremium"
                 id="esPremiumTrue">
          <label class="form-check-label" for="esPremiumTrue">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="esPremium"
                 id="esPremiumFalse">
          <label class="form-check-label" for="esPremiumFalse">No</label>
        </div>
        <div class="invalid-feedback">
          Please select if the game is premium or not.
        </div>

      </fieldset>
      <div *ngIf="mostrarAlerta" class="alert alert-success" role="alert">
        Successfully created user!
      </div>
      <div *ngIf="mostrarAlertaID" class="alert alert-danger" role="alert">
        The user ID already exists!
      </div>
      <button class="buttonform btn btn-primary" type="submit" [disabled]="!formUser.valid">Create</button>

    </form>
  </div>
</div>

