<div class="form-container">
  <h2>Crear Revisión</h2>

  <!-- Buscar cliente por cédula -->
  <form (ngSubmit)="buscarCliente()">
    <div class="form-group">
      <label for="cedulaUsuario">CÉDULA</label>
      <input
        type="number"
        id="cedulaUsuario"
        [(ngModel)]="usuarioId"
        name="cedulaUsuario"
        placeholder="Ingrese la cédula del cliente"
        required
      />
      <button type="submit" class="full-width margin-top">Buscar Cliente</button>
    </div>
  </form>

  <!-- Mostrar lista de vehículos -->
  <div *ngIf="vehiculos.length > 0"
    class="form-group">
    <label for="vehiculoSeleccionado">Seleccione un Vehículo</label>
    <select
      id="vehiculoSeleccionado"
      [(ngModel)]="vehiculoPlaca"
      name="vehiculoSeleccionado"
      (change)="seleccionarVehiculo($event)"
      class="full-width"
      required
    >
      <option value="">Seleccione un vehículo</option>
      <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.placa">
        {{ vehiculo.placa }}
      </option>
    </select>
  </div>

  <!-- Mostrar mensaje de error si no hay vehículos -->
  <div *ngIf="errorVehiculoMessage" class="error-message">
    {{ errorVehiculoMessage }}
  </div>

  <!-- Mostrar detalles de la revisión -->
  <form (ngSubmit)="crearRevision()" *ngIf="vehiculoEncontrado">
    <div class="form-group">
      <label for="fechaRevision">Fecha de Revisión</label>
      <input
        type="date"
        id="fechaRevision"
        [(ngModel)]="revision.fechaRevision"
        name="fechaRevision"
        required
      />
    </div>

    <div class="form-group">
      <label for="resultadoRevision">Resultado de la Revisión</label>
      <select
        id="resultadoRevision"
        [(ngModel)]="revision.resultadoRevision"
        name="resultadoRevision"
        required
      >
        <option [ngValue]="true">Aprobado</option>
        <option [ngValue]="false">Reprobado</option>
      </select>
    </div>

    <button type="submit" class="full-width margin-top">Registrar Revisión</button>
  </form>

  <!-- Mensajes de éxito y error -->
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
