.form-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto; /* Ajuste de margen superior */
  padding: 30px;
  border: 2px solid #050a35;
  border-radius: 15px;
  background-color: #9ab9ca;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  text-align: center;
  margin-bottom: 30px; /* Espacio entre el título y los campos */
  color: #050a35;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px; /* Espacio entre campos */
}

.form-group label {
  display: block;
  margin-bottom: 10px; /* Espacio entre la etiqueta y el campo */
  color: #050a35;
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box; /* Asegura que el padding no desborde el contenedor */
}

button {
  background-color: #050a35;
  color: white;
  padding: 15px; /* Aumentado el padding para hacer el botón más alto */
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #004080;
}

.success-message {
  color: #003366; /* Azul oscuro */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #660000; /* Rojo oscuro para el mensaje de error */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
