<div class="mt-3">
  <h1> Create VideoGame</h1>
</div>

<app-search (usuarioEncontrado)="onUserEncontrado($event)" ></app-search>

<div class="row g-3 needs-validation" *ngIf="mostrarForm" [formGroup]="formVehiculo" novalidate>
  <div class="col-md-12">
    <form class="row g-3 needs-validation" [formGroup]="formVehiculo" novalidate (ngSubmit)="crearVehiculo()">
      <fieldset>
        <div *ngIf="mostrarForm" class="alert alert-warning" role="alert">
          Crear un vehiculo a {{usuarioEncontrado?.nombre}} con cedula {{usuarioEncontrado?.cedula}}
        </div>
        <legend style="font-size: 15px;"><span class="number">!</span>Por favor complete toda la informacion.</legend>

        <label for="validationDefault01" class="form-label">Placa:</label>
        <input type="text" class="form-control" id="validationDefault01"
               placeholder="Ingrese la placa del Vehiculo" formControlName="placa" required
               [ngClass]="{ 'is-invalid': formVehiculo.get('placa')?.invalid && (formVehiculo.get('placa')?.touched || formVehiculo.get('placa')?.dirty) }">
        <div class="invalid-feedback">
          Por favor ingrese una placa valida.
        </div>

        <label class="form-label">¿Tiene SOAT actualizado?:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="haySoat"
                 id="haySoatTrue">
          <label class="form-check-label" for="haySoatTrue">Si</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="esPremium"
                 id="haySoatFalse">
          <label class="form-check-label" for="haySoatFalse">No</label>
        </div>
        <div class="invalid-feedback">
          Por favor seleccione una opcion.
        </div>

        <label class="form-label">¿Aprobo la revision?:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="true" formControlName="resultTecno"
                 id="resultTecnoTrue">
          <label class="form-check-label" for="resultTecnoTrue">Si</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="false" formControlName="resultTecno"
                 id="resultTecnoFalse">
          <label class="form-check-label" for="resultTecnoFalse">No</label>
        </div>
        <div class="invalid-feedback">
          Por favor seleccione una opcion
        </div>

        <label for="validationDefault04" class="form-label">Fecha de Revision:</label>
        <input type="datetime-local" class="form-control" id="validationDefault04"
               formControlName="fecha" required
               [ngClass]="{ 'is-invalid': formVehiculo.get('fecha')?.invalid && (formVehiculo.get('fecha')?.touched || formVehiculo.get('fecha')?.dirty) }">
        <div class="invalid-feedback">
          Por favor ingrese una fecha valida
        </div>

      </fieldset>
      <div *ngIf="mostrarAlerta" class="alert alert-success" role="alert">
        El vehiculo fue creado exitosamente
      </div>
      <div *ngIf="mostrarAlertaID" class="alert alert-danger" role="alert">
        El vehiculo ya existe
      </div>
      <button class="buttonform btn btn-primary" type="submit" [disabled]="!formVehiculo.valid">Crear</button>

    </form>
  </div>
</div>
