<div class="mt-3">
  <h1> Actualizar Usuario</h1>
</div>

<app-search (usuarioEncontrado)="onUsuarioEncontrado($event)"></app-search>

<div class="row g-3 needs-validation" [formGroup]="formUsuario" novalidate>
  <div class="col-md-12">
    <form class="row g-3 needs-validation" [formGroup]="formUsuario" novalidate (ngSubmit)="actualizarUsuario()">


      <fieldset>
        <legend style="font-size: 15px;"><span class="number">!</span>Llene los campos para actualizar el usuario.</legend>

        <label for="validationDefault01" class="form-label">Cedula:</label>
        <input type="text" class="form-control" id="validationDefault01"
               placeholder="Ingrese la cedula del usuario" formControlName="id" required pattern="[0-9]+"
               [ngClass]="{ 'is-invalid': formUsuario.get('id')?.invalid && (formUsuario.get('id')?.touched || formUsuario.get('id')?.dirty) }">
        <div class="invalid-feedback">
          Por favor ingrese una cedula valida
        </div>

        <label for="validationDefault02" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="validationDefault02"
               placeholder="Ingrese el nombre del usuario" formControlName="nombre" required
               [ngClass]="{ 'is-invalid': formUsuario.get('nombre')?.invalid && (formUsuario.get('nombre')?.touched || formUsuario.get('nombre')?.dirty) }">
        <div class="invalid-feedback">
          Por favor ingrese un nombre valido.
        </div>

        <label for="validationDefault02" class="form-label">Correo:</label>
        <input type="text" class="form-control" id="validationDefault03"
               placeholder="Ingrese el correo del usuario" formControlName="correo" required
               [ngClass]="{ 'is-invalid': formUsuario.get('correo')?.invalid && (formUsuario.get('correo')?.touched || formUsuario.get('correo')?.dirty) }">
        <div class="invalid-feedback">
          Por favor ingrese un correo valido.
        </div>

      </fieldset>
      <div *ngIf="mostrarAlerta" class="alert alert-success" role="alert">
        El Usuario fue actualizado correctamente
      </div>
      <div *ngIf="mostrarAlertaID" class="alert alert-danger" role="alert">
        El Usuario ya existe
      </div>
      <button class="buttonform btn btn-primary" type="submit" [disabled]="!formUsuario.valid">Update</button>
    </form>
  </div>
</div>

