<div class="form-container">
  <h2>Consultar Vehículos</h2>

  <!-- Botones de Filtro -->
  <div class="filter-buttons">
    <button (click)="cambiarFiltro('all')">Todos los Vehículos</button>
    <button (click)="cambiarFiltro('cedula')">Filtrar por Cédula</button>
    <button (click)="cambiarFiltro('placa')">Filtrar por Placa</button>
  </div>

  <!-- Filtro por Cédula -->
  <form (ngSubmit)="buscarVehiculos()" *ngIf="filterType === 'cedula'" class="form-group">
    <label for="usuarioId">Cédula del Cliente:</label>
    <input
      type="number"
      id="usuarioId"
      [(ngModel)]="usuarioId"
      name="usuarioId"
      placeholder="Ingrese la cédula"
      required
    />
    <button type="submit">Buscar</button>
  </form>

  <!-- Filtro por Placa -->
  <form (ngSubmit)="buscarVehiculos()" *ngIf="filterType === 'placa'" class="form-group">
    <label for="placa">Placa del Vehículo:</label>
    <input
      type="text"
      id="placa"
      [(ngModel)]="placa"
      name="placa"
      placeholder="Ingrese la placa"
      required
    />
    <button type="submit">Buscar</button>
  </form>

  <!-- Tabla de vehículos -->
  <h3>Listado de Vehículos</h3>
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Fecha</th>
        <th>SOAT</th>
        <th>Tipo de Vehículo</th>
        <th>Detalles</th>
        <th>Cédula del Cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of filteredVehiculos">
        <td>{{ vehiculo.placa }}</td>
        <td>{{ vehiculo.fecha | date }}</td>
        <td>{{ vehiculo.soat ? 'Vigente' : 'Vencido' }}</td>
        <td>{{ vehiculo.tipoVehiculo }}</td>
        <td>
          <span *ngIf="vehiculo.tipoVehiculo === 'motocicleta'">Cilindraje: {{ vehiculo['cilindraje'] }}</span>
          <span *ngIf="vehiculo.tipoVehiculo === 'ligero'">Número de Airbags: {{ vehiculo['numAirbag'] }}</span>
        </td>
        <td>{{ vehiculo.usuario?.cedula }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Mensajes -->
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="alert-message">{{ errorMessage }}</p>
</div>
