.form-container {
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid #050a35;
  border-radius: 15px;
  background-color: #9ab9ca;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
}

h2 {
  text-align: center;
  color: #050a35;
  font-weight: bold;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-buttons button {
  width: 32%;
  background-color: #050a35;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.vehicle-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.vehicle-list th,
.vehicle-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.success-message {
  color: #003366; /* Azul oscuro */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #660000; /* Rojo oscuro para los errores */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
