<div class="form-container">
  <h2>Eliminar Vehículo</h2>

  <!-- Formulario para buscar usuario -->
  <form (ngSubmit)="buscarUsuario()">
    <div class="form-group">
      <label for="usuarioId">CÉDULA</label>
      <input
        type="number"
        id="usuarioId"
        [(ngModel)]="usuarioId"
        name="usuarioId"
        placeholder="Ingrese la cédula del usuario"
        required
      />
      <button
        type="submit"
        class="full-width margin-top"
        [disabled]="isSubmitting"
      >
        Buscar Usuario
      </button>
    </div>
    <p *ngIf="errorMessage && !usuarioEncontrado" class="error-message">{{ errorMessage }}</p>
  </form>

  <!-- Dropdown para seleccionar placa -->
  <div *ngIf="usuarioEncontrado && vehiculos.length > 0" class="form-group">
    <label for="placaSeleccionada">Seleccione la Placa del Vehículo</label>
    <select
      id="placaSeleccionada"
      [(ngModel)]="placaSeleccionada"
      name="placaSeleccionada"
      (change)="cargarDetallesVehiculo()"
      class="full-width"
    >
      <option value="">Seleccione una placa</option>
      <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.placa">
        {{ vehiculo.placa }}
      </option>
    </select>
  </div>

  <!-- Detalles del vehículo -->
  <div *ngIf="vehiculoSeleccionado" class="form-group">
    <h3>Detalles del Vehículo</h3>
    <p><strong>Placa:</strong> {{ vehiculoSeleccionado.placa }}</p>
    <p><strong>Fecha:</strong> {{ vehiculoSeleccionado.fecha | date }}</p>
    <p>
      <strong>Resultado Técnico:</strong>
      {{ vehiculoSeleccionado.resultadoTecno ? 'Aprobado' : 'Reprobado' }}
    </p>
    <p>
      <strong>SOAT:</strong>
      {{ vehiculoSeleccionado.soat ? 'Vigente' : 'Vencido' }}
    </p>
    <p><strong>Tipo:</strong> {{ vehiculoSeleccionado.tipoVehiculo }}</p>
    <p *ngIf="vehiculoSeleccionado.tipoVehiculo === 'motocicleta'">
      <strong>Cilindraje:</strong> {{ vehiculoSeleccionado['cilindraje'] }}
    </p>
    <p *ngIf="vehiculoSeleccionado.tipoVehiculo === 'ligero'">
      <strong>Número de Airbags:</strong> {{ vehiculoSeleccionado['numAirbag'] }}
    </p>
    <button
      type="button"
      (click)="eliminarVehiculo(vehiculoSeleccionado)"
      [disabled]="isSubmitting"
      class="margin-top"
    >
      Eliminar Vehículo
    </button>
  </div>

  <!-- Mensajes de éxito y error -->
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage && usuarioEncontrado" class="error-message">{{ errorMessage }}</p>
</div>
