/* src/app/components/user/delete-user/delete-user.component.css */
.form-container {
  background-color: #9ab9ca;
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  margin: 100px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #050a35;
}

h2 {
  text-align: center;
  color: #050a35;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group.id-group {
  margin-bottom: 40px; /* Mayor separación debajo del campo de búsqueda */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #050a35;
  text-transform: uppercase;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #050a35;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004080;
}

.error-message,
.success-message {
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #660000; /* Rojo oscuro */
  font-weight: bold;
}

.success-message {
  color: #003366; /* Azul oscuro */
  font-weight: bold;
}
