<div class="mt-3">
  <h1> Eliminar Usuario</h1>
</div>

<app-search (usuarioEncontrado)="onUsuarioEncontrado($event)"></app-search>

<div class="row g-3 needs-validation" [formGroup]="formUser" novalidate>
  <div class="col-md-12">
    <form class="row g-3 needs-validation" [formGroup]="formUser" novalidate (ngSubmit)="eliminarUsuario(formUser.get('id')?.value)">
      <fieldset>

        <legend style="font-size: 15px;"><span class="number">!</span> Verifique la informacion del usuario a ser borrado
        </legend>

        <label for="validationDefault01" class="form-label">Cedula:</label>
        <input type="text" class="form-control" id="validationDefault01"
               placeholder="Cedula" formControlName="id" required pattern="[0-9]+"
               [ngClass]="{ 'is-invalid': formUser.get('id')?.invalid && (formUser.get('id')?.touched || formUser.get('id')?.dirty) }" readonly>

        <label for="validationDefault02" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="validationDefault02"
               placeholder="Nombre del usuario" formControlName="nombre" readonly
               [ngClass]="{ 'is-invalid': formUser.get('nombre')?.invalid && (formUser.get('nombre')?.touched || formUser.get('nombre')?.dirty) }">

        <label for="validationDefault02" class="form-label">Correo:</label>
        <input type="text" class="form-control" id="validationDefault03"
               placeholder="Correo del usuario" formControlName="correo" readonly
               [ngClass]="{ 'is-invalid': formUser.get('correo')?.invalid && (formUser.get('correo')?.touched || formUser.get('correo')?.dirty) }">


      </fieldset>

      <div *ngIf="mostrarAlerta" class="alert alert-success" role="alert">
        Usuario eliminado exitosamente
      </div>
      <button class="buttonform btn btn-primary" type="submit" [disabled]="!formUser.valid">Eliminar</button>
    </form>
  </div>
</div>
