<div class="form-container">
  <h2>Eliminar Cliente</h2>

  <!-- Formulario para buscar cliente -->
  <form (ngSubmit)="buscarUsuario()">
    <div class="form-group">
      <label for="cedula">CÉDULA</label>
      <input
        type="number"
        id="cedula"
        [(ngModel)]="usuarioId"
        name="cedula"
        placeholder="Ingrese la cédula del cliente"
        required
      />
      <button type="submit" class="full-width margin-top">Buscar</button>
    </div>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

  <!-- Detalles del cliente -->
  <div *ngIf="usuario" class="form-group">
    <h3>Detalles del Cliente</h3>
    <p><strong>Cédula:</strong> {{ usuario.cedula }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.correo }}</p>
    <button
      type="button"
      (click)="eliminarUsuario()"
      class="full-width margin-top"
    >
      Eliminar Cliente
    </button>
  </div>

  <!-- Mensajes de éxito y error -->
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
</div>
