<div class="form-container">
  <h2>Crear QR</h2>
  <form #qrForm="ngForm" (ngSubmit)="createQR(qrForm)">
    <div class="form-group">
      <label for="quejasRecomendaciones">Quejas/Recomendaciones:</label>
      <textarea
        id="quejasRecomendaciones"
        [(ngModel)]="qr.quejasRecomendaciones"
        name="quejasRecomendaciones"
        required
        placeholder="Ingrese las quejas o recomendaciones"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="fechaCreacion">Fecha de Creación:</label>
      <input
        type="date"
        id="fechaCreacion"
        [(ngModel)]="qr.fechaCreacion"
        name="fechaCreacion"
        required
      />
    </div>

    <button type="submit" class="btn-submit" [disabled]="qrForm.invalid">
      Crear QR
    </button>
  </form>

  <!-- Mensajes -->
  <div *ngIf="successMessage || errorMessage" class="alert">
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
