<!-- src/app/components/qr/create-qr/create-qr.component.html -->
<div class="form-container">
  <h2>Registro de Quejas y Recomendaciones</h2>
  <form #qrForm="ngForm" (ngSubmit)="crearQR(qrForm)">
    <div class="form-group">
      <label for="quejasRecomendaciones">Quejas/Recomendaciones</label>
      <textarea id="quejasRecomendaciones" [(ngModel)]="qr.quejasRecomendaciones" name="quejasRecomendaciones" placeholder="Adjunte todo lo que manifieste el usuario" required></textarea>
    </div>
    <button type="submit">Registrar</button>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </form>
</div>
