.form-container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid #050a35;
  border-radius: 15px;
  background-color: #9ab9ca;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #050a35;
  font-weight: bold;
}

.step-container {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #050a35;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btn-step,
.btn-submit,
.btn-back {
  width: 100%;
  padding: 10px;
  background-color: #050a35;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-step:hover,
.btn-submit:hover,
.btn-back:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.success-message {
  color: #003366;
  font-weight: bold;
}

.error-message {
  color: #660000;
  font-weight: bold;
}
